snippet func "standard function template" b
$1 $2($3)
{
$0
}
endsnippet

snippet preamble "standard code model for cpp" b
#include <bits/stdc++.h>
using namespace std;

$1

int main()
{
	$0
}
endsnippet
